<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Test" connectionString="Data Source=LAPTOP-A3UE5HHP\SQLEXPRESS;Initial Catalog=bdFutbol;User id=sa;Password=superadmin;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>